<form action="/add" method="POST">
 <label for="criticidade">Escolha a criticidade:</label>
  <select name="criticidade" id="criticidade">
  <option value="Mínimo">Mínimo</option>
  <option value="Moderado">Moderado</option>
  <option value="Severo">Severo</option>
  <option value="Prioritario">Prioritario</option>
  </select> 
  <label>
    Solicitante
  </label>
  <input type="text" name="solicitante" />
  <label>
    Descrição
  </label>
  <input type="text" name="descricao" />
  <button type="submit">Fazer solicitação</button>
</form>